#root {
  margin: auto;
}
body {
  background-color: #18181a;
  font-family: Bebas Neue, Arial, sans-serif;
}

h1 {
  text-align: center;
  margin: 30px auto 20px;
  color: white;
}

.input-cont {
  text-align: center;
  margin-bottom: 30px;
}

#nameinp {
  padding: 10px 15px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.2s;
}

#nameinp:focus {
  border-color: #414141;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.3);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 30px 50px;
  width: 300px;
}

.card {
  width: 100%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  object-position: top;
}

.card h2 {
  margin: 15px 0 5px;
  color: #222;
  font-size: 1.1rem;
}

.card p {
  font-size: 14px;
  color: #555;
  padding: 0 10px 15px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  color: #000;
  background: #fff;
  padding: 20px;
  max-width: 600px;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
}
.closebtn:hover {
  background-color: #fff;
}
